/* Gereral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #01061f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    z-index: 9999;
    overflow: hidden;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.content {
    background-color: rgba(255, 255, 255, 0.329);
    border-radius: 30px;
    width: 360px;
    height: auto;
    padding: 30px;
    margin-bottom: 10px;
}

/* Header */
header h1 {
    background: linear-gradient(to right, #142ca8,  #01061f); /* Substitua as cores de exemplo (#ff0000 e #0000ff) pelas cores desejadas */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Protest Riot', sans-serif;
    font-size: 2.5rem;
}

/* Buttons */
button {
    background-color: #01061f;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

button:hover {
    background-color: #fff;
}

button:hover > i {
    color: #01061f;
    background-color: #fff;
}

button i {
    color: #01061f;
    pointer-events: none;
    font-weight: bold;
}

.fa-solid, .fa-plus, .fa-regular {
    color: #fff;
}

#add-item {
    width: 240px;
    margin-right: 4px;
}

/* To do List */
.form-todo, .tools {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-family: Helvetica, sans-serif;
}

#filter-select, #search-items, #add-item, #edit-input {
    background-color: #01061f;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    text-align: center;
    height: 35px;
    padding: 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    box-shadow: 0 0 0 30px #01061f inset;
}

#filter-select {
    width: 70px;
}

#search-items {
    width: 150px;
    margin-bottom: 20px;
}

::placeholder {
    color: aliceblue;
}

/* Edit Form */

.hide {
    display: none;
}

#edit-form {
    margin: 20px 10px;
}

#edit-input {
    width: 170px;
    padding: 8px;
    height: auto;
}

#edit-form p{
    font-family: 'Protest Riot', sans-serif;
    margin-bottom: 7px;
    font-size: 1rem;
    background: linear-gradient(to right, #132686,  #01061f); /* Substitua as cores de exemplo (#ff0000 e #0000ff) pelas cores desejadas */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
}

#btn-cancel {
    width: 60px;
    background-color: #01061f;
    color: aliceblue;
    padding: 8px;
}

#btn-cancel:hover {
    width: 60px;
    background-color: aliceblue;
    color: #01061f;
    padding: 8px;
}


/* result */
#result-list {
    max-height: 300px;
    overflow-y: auto;
}

/* Scrollbar result*/
#result-list::-webkit-scrollbar {
    width: 10px; 
}

#result-list::-webkit-scrollbar-track {
    background: transparent; /* background scroll */
}

#result-list::-webkit-scrollbar-thumb {
    background: #888; /* scroll */
    border-radius: 10px; 
}

#result-list::-webkit-scrollbar-thumb:hover {
    background: #fff; 
}

#result-list::-webkit-scrollbar-corner {
    background: transparent;
}

p {
    max-width: 150px; 
    word-wrap: break-word;
    text-align: justify;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #01061f;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 0.8rem;
    font-family: Helvetica, sans-serif;
}

.list-right {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    align-items: center;
}

.btn-check-list, .btn-edit-list, .btn-remove-list {
    background-color: transparent;
    background: transparent;
}

.btn-check-list{
    background-color: transparent;
    background: transparent;
    margin-right: 7px;
}

.list-left {
    margin-left: 0;
}

.done p {
    text-decoration: line-through;
}

.done {
    background-color: #01061fb6;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 360px;
    gap: 0.5rem;
}

footer .fa-brands,
footer .fa-envelope {
    color: #fff;
    font-size: 18px;
    margin: 10px;
}


/* Resposive */
@media screen and (max-width: 500px) {
    
    *:not(h1) {
        font-size: 11px;
    }
    
    .content {
        width: 280px;
    }

    .form-todo, .tools, #edit-form {
        margin: 0;
    }

    .list {
        margin: 10px 0;
    }

    #search-items {
        width: 110px;
        margin-left: 5px;
    }

    #filter-select {
        width: 65px;
        padding: 0;
    }

    #edit-input {
        width: 120px;
        margin-bottom: 10px;
    }

    #add-item {
        width: 180px;
        margin-bottom: 5px;
    }

    #edit-form p {
        font-size: 14px;
    }

    #btn-cancel {
        width: 62px;
    }

    p {
        max-width: 110px; 
        word-wrap: break-word;
    }

    .btn-check-list, 
    .btn-edit-list, 
    .btn-remove-list {
        height: 20px;
        width: 20px;
    }
}